apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: echo-app
  namespace: quickstarts
spec:
  dnsNames:
    - echo-app
    - echo-app.quickstarts
    - echo-app.quickstarts.svc
    - echo-app.quickstarts.svc.cluster.local
    - echo-app.local
  ipAddresses:
    - 172.18.255.200
  secretName: echo-app
  issuerRef:
    name: root-ca
    kind: ClusterIssuer