apiVersion: heimdall.dadrus.github.com/v1alpha4
kind: RuleSet
metadata:
  name: echo-app-rules
  namespace: quickstarts
  labels:
    app.kubernetes.io/name: echo-app
spec:
  rules:
    - id: public-access
      match:
        path: /pub/**
      forward_to: # only required for proxy operation mode
        host: echo-app.quickstarts.svc.cluster.local:8080
      execute:
        - authorizer: allow_all_requests
    - id: anonymous-access
      match:
        path: /anon/**
      forward_to: # only required for proxy operation mode
        host: echo-app.quickstarts.svc.cluster.local:8080
      execute:
        - authorizer: allow_all_requests
        - finalizer: create_jwt
    - id: redirect
      match:
        path: /redir/**
      forward_to: # only required for proxy operation mode
        host: echo-app.quickstarts.svc.cluster.local:8080
      execute:
        - authenticator: deny_authenticator