[ server_cert ]
keyUsage = digitalSignature, keyEncipherment
nsCertType = server
subjectAltName = @alt_names
[alt_names]
DNS.1 = localhost

[ client_cert ]
keyUsage = digitalSignature, keyEncipherment
nsCertType = client

