{{- if .Values.demoSetup -}}
{{- $host := "unset" -}}
{{- $service := "unset" -}}
{{- $port := "unset" -}}
{{- if eq .Values.operationMode "decision" -}}
    {{- $host = "demo-app" -}}
    {{- $service = include "heimdall.demo.fullname" . -}}
    {{- $port = 8080 -}}
{{- else -}}
    {{- $host = "heimdall-proxy" -}}
    {{- $service = include "heimdall.fullname" . -}}
    {{- $port = .Values.service.proxy.port -}}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ include "heimdall.demo.fullname" . }}
  namespace: heimdall-demo
  labels:
    {{- include "heimdall.demo.labels" . | nindent 4 }}
  {{- if eq .Values.operationMode "decision" }}
  annotations:
    nginx.ingress.kubernetes.io/auth-url: "http://{{ include "heimdall.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.service.decision.port }}/$request_uri"
    nginx.ingress.kubernetes.io/auth-response-headers: Authorization
  {{- end }}
spec:
  rules:
    - host: {{ $host }}
      http:
        paths:
          - path: "/"
            {{- if semverCompare ">=1.18-0" $.Capabilities.KubeVersion.GitVersion }}
            pathType: ImplementationSpecific
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $service }}
                port:
                  number: {{ $port }}
              {{- else }}
              serviceName: {{ $service }}
              servicePort: {{ $port }}
              {{- end }}
{{- end }}
