# Ignore GoLand meta directories
.idea
.run

# Ignore heimdall build artifact
/heimdall

# Ignore files ending with ~
*~

# Ignore coverage files
cover.out
coverage.*

# Ignore npm modules
/docs/node_modules

# Ignore hugo output directory
/docs/public
