.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
}

.nav .nav {
  padding-left: 1rem;

  .nav-link {
    padding-top: calc(var(--bs-nav-link-padding-y) / 2);
    padding-bottom: calc(var(--bs-nav-link-padding-y) / 2);
  }
}

footer {
  background-color: rgba(var(--bs-light-rgb), 1) !important;

  a {
    color: $gray-600;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: underline;
    }
  }
}



.docs-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}