.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
}

.nav .nav {
  padding-left: 1rem;

  .nav-link {
    padding-top: calc(var(--bs-nav-link-padding-y) / 2);
    padding-bottom: calc(var(--bs-nav-link-padding-y) / 2);
  }
}


footer {
  background-color: rgba(var(--bs-light-rgb), 1) !important;

  a {
    color: $gray-600;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: underline;
    }
  }
}

.imageblock {
  .title {
    font-weight: bold;
  }

  img {
    height: auto !important;
    max-width: 100% !important;
  }

  margin-bottom: 1.5rem;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  scroll-margin-top: 5rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  scroll-margin-top: 5rem;
}

h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

div[id] {
  scroll-margin-top: 5rem;
}

.paragraph {
  p {
    line-height: 1.7;
  }
}

.exampleblock {
  margin: 2rem 0;

  .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.listingblock {
  overflow-y: scroll;
  word-break: break-word;

  pre {
    border-radius: .4rem;
    padding: .75rem;
    box-shadow: inset 0 0 0 1px #5c636a;
    font-size: .875em;
  }

  b {
    display: none;
  }
}

.colist {
  b {
    display: none;
  }

  td {
    vertical-align: top;
    padding-bottom: .3rem;
  }
}

.conum {
  border: 1px solid;
  border-radius: 100%;
  display: inline-block;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  width: 1.25em;
  height: 1.25em;
  letter-spacing: -.25ex;
  text-indent: -.25ex;
  font-size: calc(13.5 / var(--rem-base) * 1rem);
  font-family: var(--body-font-family);
  margin-right: 1rem;
}

.conum[data-value]::after {
  content: attr(data-value)
}

p {
  code {
    color: #f92672;
  }
}

pre {
  code {
    display: block;
    max-width: 30rem;
    overflow-wrap: break-word;
    word-break: break-all;
  }
}

.ulist, .olist {
  li {
    p {
      margin-bottom: .5rem;
    }

    &:last-of-type {
      p {
        margin-bottom: 0;
      }
    }
  }
}

td {
  b {
    vertical-align: top;
  }
}

.admonitionblock {
  padding: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-color: rgb(233, 236, 239);
  border-radius: .4rem;

  table {
    margin-top: 2rem;

    td.icon {
      position: relative;

      i {
        position: absolute;
        top: -30px;
        text-decoration-style: double;
      }

      i[title]::after {
        content: attr(title);
        font-weight: bold;
        font-style: normal;
      }

      i[title] {
        &::after,
        &::before {
          display: inline;
        }
      }
    }
  }
}

.tip {
  color: #0f5132;
  border-color: #badbcc;
  border-left-color: #0f5132;
  border-left-width: .3rem;
}

.note {
  color: #055160;
  border-color: #b6effb;
  border-left-color: #5bc0de;
  border-left-width: .3rem;
}

.caution {
  color: #664d03;
  border-color: #ffecb5;
  border-left-color: #f0ad4e;
  border-left-width: .3rem;
}

.warning {
  color: #842029;
  border-color: #f5c2c7;
  border-left-color: #d9534f;
  border-left-width: .3rem;
}

doc-version-select {
  .dropdown-item.current {
    position: relative;
    padding-right: 1.5rem;

    &:after {
      content: "✔";
      position: absolute;
      right: .5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

#search-suggestions {
  position: absolute;
  left: 0;
  width: auto;
  max-width: 460px;
  white-space: nowrap;
  z-index: 999;
  overflow: scroll;
  top: 3rem;

  &:has(div:nth-last-child(n + 3)) {
      height: calc(100vh - 10rem);
    }
}

.search-result:last-of-type {
  border-bottom: 0;
}

.reference-link {
  &:link,
  &:visited,
  &:active,
  &:hover {
    display: none;
    margin-left: 0.5rem;
    text-decoration: none;
    color: black;
  }

  &:hover {
    display: inline-block;
    color: blue;
  }

  h1[id]:hover &,
  h2[id]:hover &,
  h3[id]:hover &,
  h4[id]:hover &,
  h5[id]:hover &,
  h6[id]:hover & {
    display: inline-block;
  }
}

.docs-sidebar {
  grid-area: sidebar;

  nav {

    span {
      display: block;
      font-size: 1rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      font-weight: bolder;
    }

    ul {
        padding-left: 0;
        margin-bottom: .5rem;
        list-style: none;
    }

    a {
      display: block;
      padding: .125rem 0 .125rem .75rem;
      color: inherit;
      text-decoration: none;
      border-left: .125rem solid transparent;

      &:hover {
        color: var(--bs-link-color);
      }
      &.active {
        color: var(--bs-link-color);
        font-weight: 500;
      }
    }
  }
}
.docs-main { grid-area: main; }

.docs-location {
  grid-area: location;
  padding-top: 1rem;

//  position: sticky;
//  top: 3rem;
//
//  nav {
//    padding-top: 1rem;
//    padding-bottom: .25rem;
//  }
}

.docs-intro { grid-area: intro; }
.docs-toc { grid-area: toc; }
.docs-content { grid-area: content; }

.docs-toc-content {
  nav {
    font-size: .875rem;

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      ul {
        padding-left: 1rem;
      }
    }

    a {
      display: block;
      padding: .125rem 0 .125rem .75rem;
      color: inherit;
      text-decoration: none;
      border-left: .125rem solid transparent;

      &:hover {
        color: var(--bs-link-color);
      }
      &.active {
        color: var(--bs-link-color);
        font-weight: 500;
      }
    }
  }
}

.mw-25 {
  max-width: 25%;
}
.mw-50 {
  max-width: 50%;
}
.mw-75 {
  max-width: 75%;
}

// breakpoint sm
@media (min-width: 576px) {
  linkable-headline-area .gridcol {
    width: calc(100% / 2 - 0.5rem);
  }
}

// breakpoint md
@media (min-width: 768px) {
  .docs-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 2fr 9fr;
    gap: 1.5rem;
  }

  .docs-main {
    display: grid;
    grid-template-areas:
          "location"
          "intro"
          "toc"
          "content";
    grid-template-rows: auto;
  }

  .docs-sidebar {
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
    min-width: 13rem;

    .docs-search-button {
      position: sticky;
      top: 0;
      padding-top: .5rem;
      padding-bottom: .5rem;
      background: linear-gradient(to bottom, var(--bs-body-bg) calc(100% - 1rem), color-mix(in srgb, var(--bs-body-bg) 50%, transparent) 95%, transparent);
    }
  }

  linkable-headline-area .gridcol {
    width: calc(100% / 3 - 0.5rem);
  }
}

// breakpoot lg
@media (min-width: 992px) {
  .docs-main {
    display: grid;
    grid-template-areas:
          "intro   toc"
          "content toc";
    grid-template-rows: auto 1fr;
    grid-template-columns: 5fr 1fr;
  }

  .docs-toc {
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    overflow-y: auto;
    height: calc(100vh - 7rem);
  }

  linkable-headline-area .gridcol {
    flex: none;
    width: calc(100% / 4 - 0.5rem);
  }
}


.offcanvas-body .dropdown-item {
  color: #fff;
}

.offcanvas-body .dropdown-item:hover {
  color: #fff;
  background: rgba(255,255,255, .2);
}

.modal {
  margin-top: 7rem;

  .modal-body {
    min-height: 25vh;
    max-height: 60vh;
  }
}

.search-bar {
  &:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
