log:
  level: debug

serve:
  decision:
    trusted_proxies:
      - 0.0.0.0/0

cache:
  type: redis
  config:
    addr: localhost:6379
    username: default
    password: secret
    db: 0
    tls:
      key_store:
        path: ./certificates/tests/tls/redis_client_keystore.pem
      key_id: bf5d129a7fec8b1fde11eab459784cc2f14e6c1d
    additional_ca: ./certificates/tests/tls/ca.crt

rules:
  mechanisms:
    authenticators:
      - id: do_nothing
        type: noop
      - id: anon
        type: anonymous
      - id: reject_requests
        type: unauthorized
    finalizers:
      - id: do_nothing
        type: noop
      - id: create_jwt
        type: jwt
    error_handlers:
      - id: default
        type: default
      - id: redirect_to_login
        type: redirect
        config:
          to: http://127.0.0.1:8080/login?origin={{ .Request.URL | urlenc }}
          when:
            - error:
                - type: authentication_error
                  raised_by: reject_requests
              request_headers:
                Accept:
                  - Bar
  default:
    methods:
      - GET
      - POST
    execute:
      - authenticator: reject_requests
      - finalizer: create_jwt
    on_error:
      - error_handler: redirect_to_login

  providers:
    file_system:
      src: ./upstream-rules.yaml
      watch: true
      env_vars_enabled: false
