version: '3.7'

services:
  heimdall:
    command: -c /heimdall/conf/heimdall.yaml serve decision --envoy-extauth

  edge-router:
    image: envoyproxy/envoy:v1.25.1
    volumes:
      - ./envoy-config-grpc.yaml:/envoy.yaml:ro
    ports:
      - 9090:9090
    command: -c /envoy.yaml -l debug