apiVersion: gateway.networking.k8s.io/v1alpha2
kind: BackendTLSPolicy
metadata:
  name: heimdall-btls
  namespace: heimdall
spec:
  targetRef:
    group: ''
    kind: Service
    namespace: heimdall
    name: heimdall
    sectionName: "4456"
  tls:
    caCertRefs:
      - name: cacerts
        group: ''
        kind: ConfigMap
    hostname: heimdall