apiVersion: gateway.networking.k8s.io/v1
kind: BackendTLSPolicy
metadata:
  name: heimdall-btls
  namespace: heimdall
spec:
  targetRefs:
    - group: ''
      kind: Service
      name: heimdall
  validation:
    caCertificateRefs:
      - name: cacerts
        group: ''
        kind: ConfigMap
    hostname: heimdall