log:
  format: gelf
  level: trace

profiling:
  enabled: false

metrics:
  enabled: false

tracing:
  enabled: false

secrets_reload_enabled: true

serve:
  tls:
    min_version: TLS1.2
    key_store:
      path: /etc/heimdall/certs/ssl/tls-combined.pem
  trusted_proxies:
    - 0.0.0.0/0

management:
  tls:
    min_version: TLS1.2
    key_store:
      path: /etc/heimdall/certs/ssl/tls-combined.pem

mechanisms:
  authenticators:
    - id: anonymous_authenticator
      type: anonymous
    - id: deny_authenticator
      type: unauthorized
  authorizers:
    - id: deny_all_requests
      type: deny
    - id: allow_all_requests
      type: allow
  finalizers:
    - id: create_jwt
      type: jwt
      config:
        signer:
          key_store:
            path: /etc/heimdall/certs/jwt/tls-combined.pem
  error_handlers:
    - id: redirect
      type: redirect
      config:
        to: https://foo.bar?origin={{ .Request.URL | urlenc }}

default_rule:
  execute:
    - authenticator: anonymous_authenticator
    - authorizer: deny_all_requests
  on_error:
    - if: type(Error) == authentication_error
      error_handler: redirect

providers:
  kubernetes:
    tls:
      min_version: TLS1.2
      key_store:
        path: /etc/heimdall/certs/ssl/tls-combined.pem