apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: ext-auth-heimdall
  namespace: heimdall
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: Gateway
    name: eg
    namespace: heimdall
  extAuth:
    grpc:
      backendRef:
        name: heimdall
        port: 4455
        namespace: heimdall
---

