apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: demo-ca
  namespace: cert-manager
spec:
  isCA: true
  commonName: demo-ca
  secretName: demo-ca
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: demo-ca-issuer
spec:
  ca:
    secretName: demo-ca