# Copyright 2022 Dimitrij Drus <dadrus@gmx.de>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: rulesets.heimdall.dadrus.github.com
spec:
  group: heimdall.dadrus.github.com
  scope: Namespaced
  names:
    kind: RuleSet
    plural: rulesets
    singular: ruleset
    listKind: RuleSetList
  versions:
    - name: v1alpha4
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          description: RuleSet is the Schema for heimdall's rule definitions
          type: object
          properties:
            spec:
              type: object
              description: Defines the actual rules and the authClassName these rules should be used by
              required:
                - rules
              properties:
                authClassName:
                  description: Defines which heimdall setup should use the resource
                  type: string
                  default: default
                  maxLength: 56
                rules:
                  description: The actual rule set with rules defining the required pipeline mechanisms
                  type: array
                  minItems: 1
                  items:
                    description: A himedall rule defining the pipeline mechanisms
                    type: object
                    required:
                      - id
                      - match
                      - execute
                    properties:
                      id:
                        description: The identifier of the rule
                        type: string
                        maxLength: 128
                      allow_encoded_slashes:
                        description: Defines how to handle url-encoded slashes in url paths while matching and forwarding the requests
                        type: string
                        default: "off"
                        maxLength: 10
                        enum:
                          - "off"
                          - "on"
                          - "no_decode"
                      match:
                        description: How to match the rule
                        type: object
                        required:
                          - path
                          - methods
                        properties:
                          scheme:
                            description: The HTTP scheme, which should be matched. If not set, http and https are matched
                            type: string
                            maxLength: 5
                          host_glob:
                            description: Glob expression to match the host if required. If not set, all hosts are matched. Mutually exclusive with 'host_regex'.
                            type: string
                            maxLength: 512
                          host_regex:
                            description: Regular expression to match the host if required. If not set, all hosts are matched. Mutually exclusive with 'host_glob'.
                            type: string
                            maxLength: 512
                          path:
                            description: The path to match
                            type: object
                            required:
                              - expression
                            properties:
                              expression:
                                description: The actual path expression to match. Simple and free (named) wildcards can be used
                                type: string
                                maxLength: 256
                              glob:
                                description: Additional glob expression the matched path should be matched against. Mutual exclusive with 'regex'.
                                type: string
                                maxLength: 256
                              regex:
                                description: Additional regular expression the matched path should be matched against. Mutual exclusive with 'glob'
                                type: string
                                maxLength: 256
                          methods:
                            description: The HTTP methods to match
                            type: array
                            minItems: 1
                            items:
                              type: string
                              maxLength: 16
                              enum:
                                - "CONNECT"
                                - "!CONNECT"
                                - "DELETE"
                                - "!DELETE"
                                - "GET"
                                - "!GET"
                                - "HEAD"
                                - "!HEAD"
                                - "OPTIONS"
                                - "!OPTIONS"
                                - "PATCH"
                                - "!PATCH"
                                - "POST"
                                - "!POST"
                                - "PUT"
                                - "!PUT"
                                - "TRACE"
                                - "!TRACE"
                                - "ALL"
                      forward_to:
                        description: Where to forward the request to. Required only if heimdall is used in proxy operation mode.
                        type: object
                        required:
                          - host
                        properties:
                          host:
                            description: Host and port of the upstream service to forward the request to
                            type: string
                            maxLength: 512
                          rewrite:
                            description: Configures middlewares to rewrite parts of the URL
                            type: object
                            x-kubernetes-validations:
                              - rule: "has(self.scheme) || has(self.strip_path_prefix) || has(self.add_path_prefix) || has(self.strip_query_parameters)"
                                message: "rewrite is defined, but does not contain any middleware"
                            properties:
                              scheme:
                                description: If you want to overwrite the used HTTP scheme, set it here
                                type: string
                                maxLength: 5
                              strip_path_prefix:
                                description: If you want to cut a prefix from the URL path, set it here
                                type: string
                                maxLength: 128
                              add_path_prefix:
                                description: If you want to add a prefix to the URL path, set it here
                                type: string
                                maxLength: 128
                              strip_query_parameters:
                                description: If you want to remove some query parameters, specify it here
                                type: array
                                minItems: 1
                                items:
                                  type: string
                                  maxLength: 128
                      execute:
                        description: The pipeline mechanisms to execute
                        type: array
                        minItems: 1
                        items:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                      on_error:
                        description: The error pipeline mechanisms.
                        type: array
                        items:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
            status:
              description: Deployment status of a RuleSet
              type: object
              default:
                activeIn: "0/0"
              properties:
                activeIn:
                  description: The number of heimdall instances loaded/responsible for the RuleSet
                  type: string
                  maxLength: 7
                conditions:
                  description: Conditions store the status conditions of the RuleSet instances
                  type: array
                  items:
                    description: Details for a single aspect of the current state of the RuleSet resource
                    type: object
                    required:
                      - type
                      - status
                      - lastTransitionTime
                      - reason
                      - message
                    properties:
                      type:
                        description: The type of the condition
                        type: string
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      status:
                        description: The status of the condition, one of True, False, Unknown
                        type: string
                        default: Unknown
                        enum:
                          - "True"
                          - "False"
                          - "Unknown"
                      observedGeneration:
                        description: Represents the .metadata.generation that the condition was set based upon
                        type: integer
                        format: int64
                        minimum: 0
                      lastTransitionTime:
                        description: The last time the condition transitioned from one status to another
                        type: string
                        format: date-time
                      reason:
                        description: Identifier indicating the reason for the condition's last transition
                        type: string
                        maxLength: 32
                      message:
                        description: Message indicating details about the transition
                        type: string
                        maxLength: 1024
      additionalPrinterColumns:
        - name: Active In
          type: string
          jsonPath: .status.activeIn
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
      subresources:
        status: {}


