name: CI

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18.1
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.46.2

  test:
    runs-on: ubuntu-20.04
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18.1
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Test
      run: go test -v -coverprofile=heimdall.cov -coverpkg=./... ./...
    - name: Code Coverage
      uses: codecov/codecov-action@v2
      with:
        files: heimdall.cov
        verbose: true
