name: Documentation Build

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.100.1'
          extended: true
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '17.7'
      - name: Install dependencies
        working-directory: ./docs
        run: npm install
      - name: Build documentation
        working-directory: ./docs
        run: hugo --minify
      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/public