name: please-release

on:
  push:
    branches:
      - main
      - release

permissions:
  contents: read

jobs:
  create-release:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit
      - name: Please Release
        id: create_release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          target-branch: ${{ github.ref_name }}
          token: ${{ secrets.RELEASE_TOKEN }}
          skip-github-pull-request: true
      - name: Please Release PR
        if: steps.create_release.outputs.release_created == false
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          target-branch: ${{ github.ref_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          skip-github-release: true
