logs:
  general:
    level: ${log_level}
    format: json
  access:
    enabled: true
    format: json

tracing:
  otlp:
    enabled: ${otel_tracing_enabled}
    http:
      enabled: ${otel_tracing_protocol == "http"}
      endpoint: ${otel_tracing_endpoint}
    grpc:
      enabled: ${otel_tracing_protocol == "grpc"}
      endpoint: ${try(split("://", otel_tracing_endpoint)[1], "")}
      insecure: true

metrics:
%{ if otel_metrics_enabled }
  %{ if otel_metrics_exporter == "prometheus" }
  prometheus:
    serviceMonitor:
      enabled: true
  %{ else }
  prometheus: null
  otlp:
    http:
      enabled: ${otel_metrics_protocol == "http"}
      endpoint: ${otel_metrics_endpoint}
    grpc:
      enabled: ${otel_metrics_protocol == "grpc"}
      endpoint: ${split("://", otel_metrics_endpoint)[1]}
      insecure: false
  %{ endif }
%{ else }
  prometheus: null
%{ endif }


providers:
  kubernetesCRD:
    enabled: true
    # without that the middleware must be deployed into the same namespace as the resource
    # referencing it (IngressRoute)
    allowCrossNamespace: true
  kubernetesGateway:
    enabled: ${gateway_api_enabled}
  kubernetesIngress:
    enabled: ${!gateway_api_enabled}

gateway:
  listeners:
    websecure:
      port: 8443
      hostname: echo-app.local
      protocol: HTTPS
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
        - name: traefik-tls
          kind: Secret

%{ if global_integration_enabled || gateway_api_enabled }
ports:
  web:
    middlewares:
      - heimdall-heimdall@kubernetescrd
  websecure:
    middlewares:
      - heimdall-heimdall@kubernetescrd
%{ endif }